<form [formGroup]="soldierFormGroup" class="soldier-form">
  <mat-form-field>
    <mat-select placeholder="Rank" formControlName="rank">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="rank.key"
                  *ngFor="let rank of rankService.rankNames | keyvalue">{{rank.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">The rank of the soldier</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" formControlName="first_name" required>
    <mat-hint align="end">The firstname of the soldier</mat-hint>
    <mat-error *ngIf="soldierFormGroup.controls.first_name.hasError('required')">Title is required</mat-error>
    <mat-error *ngIf="soldierFormGroup.controls.first_name.hasError('badWord')">Plot contains "bad word"</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" formControlName="last_name" required>
    <mat-hint align="end">The lastname of the soldier</mat-hint>
    <mat-error *ngIf="soldierFormGroup.controls.last_name.hasError('required')">Title is required</mat-error>
    <mat-error *ngIf="soldierFormGroup.controls.last_name.hasError('badWord')">Plot contains "bad word"</mat-error>
  </mat-form-field>

  <app-date placeholder="Year of Birth" formControlName="year_of_birth" hint="The year of birth of the soldier"
            [required]="true"></app-date>
  <mat-form-field>
    <input matInput type="number" placeholder="Height" formControlName="height">
    <mat-hint align="end">The height of the soldier</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Country" formControlName="country">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="countryOption.id"
                  *ngFor="let countryOption of countryOptions">{{countryOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The country of the soldier</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="ArmOfService" formControlName="arm_of_service" multiple>
      <mat-option [value]="armOfServiceOption.id"
                  *ngFor="let armOfServiceOption of armOfServiceOptions">{{armOfServiceOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The arm of service of the soldier</mat-hint>
  </mat-form-field>
  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!soldierFormGroup.valid" (click)="createSoldier()">
      <span *ngIf="!soldierFormGroup.controls.id.value">Create</span>
      <span *ngIf="soldierFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
